*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

html{
    height: 500%;
}

/* #header::before{
    content: "";
    background: url("https://pixabay.com/get/g26f3ca1fe7a7b41728e47812ce2c932066e4f39dd88bfb12a1d52bfb69ec6340c0fa5531a74dd2a55aabbb829fd30c02_1920.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

body{
    
}

.background{
    height: 100vh;
    background: url(/img/background.jpg) no-repeat center/cover;
}

.allLists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header{
    background-color: rgba(20,20,20,0.43);
    width: 100%;
    height: 13vh;
}

#logo{
    width: 79%;
}

#left{
    width: 20%;
}

#right{
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.list-links{
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 12px;
    border: 0px solid black;
    border-radius: 9px;
}

.list-links:hover{
    background-color: rgba(21,21,21,0.6);
    color: rgb(255, 0, 55);
    transform: scale(1.1,1.1);
    transition: all 0.1s ease-in-out;
    box-shadow: -1px 5px 5px rgb(8 8 8);
    padding: 5px;
    
}

#why-zayka-section{
    width: 100%;
    height: 60vh;
    margin: 25px 0px 0px 0px;
}

#why-zayka-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#why-zayka{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#head-colBlock{
    background-color: #7669ff;
    width: 11vw;
    height: 4vh;
    position: relative;
    bottom: 20px;
    left: -4px;
    z-index: -2;
    border-radius: 6px;
}

.card{
    width: 24%;
    height: 85%;
    /* border: 1px solid rgb(2, 2, 2); */
    box-shadow: -3px -2px 8px #383838, -1px 6px 8px #383838;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(167,188,91,1) 100%);
}


.card-img{
    width: 100%;
    height: 64%;
    display: block;
    margin: 0px auto;
    border-radius: 8px;
}

.para{
    text-align: center;
}

.card-content-heading{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 8px;
}

.main-card-content{
    padding: 5px;
    align-self: center;
}

.card:hover{
    transition: all 0.25s ease-in-out;
    transform: scale(1.05);
}

#menu{
    width: 100%;
    height: 70vh;
    margin-top: 160px;
}

.menu{
    width: 99.5%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    border: 3px solid #0000007a;
    border-radius: 8px;
}

#text-menu{
    width: 40%;
    height: 100%;
    background-color: rgb(255, 238, 208);
    font-size: 23px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

#text-menu-heading{
    color: rgb(63, 63, 63);
    font-size: 30px;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
    left: 100px;
    top: 15px;
    font-weight: bold;

}

#text-menu-heading-and-img{
    color: rgb(63, 63, 63);
    font-size: 30px;
    height: 55%;
    display: flex;
    align-self: center;
    align-items: flex-end;
    padding-bottom: 40px;
    z-index:3;

}

#text-menu-main-text{
    width: 100%;
    height: 100%;
}

#royal-menu{
    width: 14vw;
    height: 17vh;
    position: relative;
    right: 38px;
    top: 22px;
}

#cuisine{
    width: 60%;
    height: 100%;
    justify-self: right;
}
